body {
	font-size: 16px;
	color: black;
	background-color: #F8EEE7;
	font-family: Arial, Helvetica, sans-serif;
}

/*HEADER*/
#header-nav {
	background-color: #94618E;
	border-radius: 0;
	border: 0;
}

#logo-img {
	background : url("../img/logo-lg.jpg") no-repeat;
	width: 150px;
	height: 150px;
	margin: 10px 15px 10px 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: Impact, Charcoal, sans-serif;
  color: black;
  font-size: 2em;
  /*text-transform: uppercase;*/
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-brand p { /*quote*/
	color: black;
	text-transform: uppercase;
	font-size: .7em;
	margin-top: 15px;

}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: black;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/*HOME PAGE*/
.section h2 {
	text-align: center;


}
.section{
  position: relative;
  border: 1px solid black;
  padding: 0 10px 10px 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}


/********** Large devices only **********/
@media (min-width: 1200px) {

}
/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  #logo-img {
    background: url('../img/logo-md.jpg') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }
  /* End Header */
}
/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
	  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 4vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { 
    font-size: .7em;
    margin-top: 12px;
  }

}
/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p {  
    font-size: .6em;
    margin-top: 12px;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  /* End Header */

}

